.container-sections {

    margin: 0 auto;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    gap: 10px;
    flex-grow: 1;
    min-height: 100vh;
    
    & .container-input {

        margin: 10px auto;
        display: grid;
        grid-template-areas: "input";
        gap: 10px;

        & .input-value {

            grid-area: input;
            font: inherit;
            border-radius: 10px;
            border: 1px solid rgb(0, 0, 0);
            padding: .7rem 1.5rem;
        }

        & .container-placeholder {
            
            grid-area: input;
            z-index: 1;
            width: max-content;
            margin-left: 1rem;
            padding: 0 .5rem;
            height: 100%;
            display: flex;
            align-items: center;
            transition: transform .2s;
            transform-origin: center left;
        }

        & .input-value:focus + .container-placeholder,
        & .input-value:not(:placeholder-shown) + .container-placeholder {

            transform: translateY(-50%) scale(.7);
            background: #fff;
            color: #333;
        }
    }

    & .sections {

        padding: 0 5rem;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(
            auto-fit,
            minmax(
                200px,
                1fr
            )
        );

        gap: 10px;

        & li {
            
            background: #09f;
            border-radius: 10px;
            width: 100%;
            padding: 10px;
            text-wrap: wrap;
            text-align: center;
            box-shadow: 0 8px 6px -5px rgba(128,128,133,1);
            cursor: pointer;
        }

        & .secc {

            text-decoration: none;
            width: 100%;
            color: white;
        }
    }
} 

.loading {

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    & .spinner {
        border: 4px solid rgb(0, 255, 251);
        width: 36px;
        height: 36px;
        border-radius: 50%;
        border-left-color: transparent;
        animation: spin 1s linear infinite;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}