li {
    list-style: none;

    & a {
        text-decoration: none;
    }
}

.navbar {
    position: fixed;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    flex-flow: wrap row;

    & .first-menu {
        margin: 0 20px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
    }

    & .second-menu {
        margin: 0 20px;
        display: flex;
        flex-flow: wrap row;
        justify-content: flex-end;
        align-items: center;
        gap: 1rem;
    }
}

.login {
    border: 2px solid rgba(189, 189, 189, 0.8);
    padding: 6px;
    border-radius: 6px;
    width: fit-content;

    &:hover {
        background: rgba(108, 108, 108, 0.882);
    }
}

.singup {
    padding: 6px;
    border-radius: 6px;
    width: fit-content;
    background: white;
    color: black;

    &:hover {
        background: rgba(108, 108, 108, 0.882);
        color: white;
    }
}

label {
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

input {
    position: absolute;
    opacity: 0;
}

.sun {
    position: absolute;
    width: 32px;
    height: 32px;
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, .5));
    transform: scale(0);
    transition: 1s ease;
    transition-delay: .3s;
}

input:checked~.sun{
    transition-delay: 0;
    transform: scale(1) rotate(360deg);
}

.moon {
    width: 32px;
    height: 32px;
    filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.5));
    transition: 1s ease;
}

input:checked~.moon {
    transform: rotate(360deg) scale(0);
}

.toggle {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: 1s;
    background: rgba(74, 74, 74, 0.501);
    z-index: -1;
}

input:checked~.toggle {
    background: #fff;
}

/*
.animateWindow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #fff;
    z-index: -99;
    clip-path: circle(0% at 50% 50%);
    transition: 1.0s ease-out;
}

input:checked ~ .animateWindow {
    clip-path: circle(150% at 50% 50%);
}
*/

